<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1019193433856-kth05lj3fqigdqf98f78bcb9s7ieishg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019193433856-kth05lj3fqigdqf98f78bcb9s7ieishg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1019193433856-qhtaf2qtqt6297fvp8g37vpmfs7etpp7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCo1OMkl4NNgJKG_uSBJrI6jHzTtdK1fWs</string>
	<key>GCM_SENDER_ID</key>
	<string>1019193433856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>tinderclone2-95cde</string>
	<key>STORAGE_BUCKET</key>
	<string>tinderclone2-95cde.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019193433856:ios:316ac9f0f9201ff2c01de5</string>
</dict>
</plist>